const styles = {
  Home: {
    color: 'white',
    fontSize: '14px',
    fontFamily: 'Montserrat',
    fontWeight: '300',
    lineHeight: '17.12px',
    wordWrap: 'break-word',
  },
  About: {
    color: 'white',
    fontSize: '14px',
    fontFamily: 'Montserrat',
    fontWeight: '300',
    lineHeight: '17.12px',
    wordWrap: 'break-word',
  },
  Solutions: {
    color: 'white',
    fontSize: '14px',
    fontFamily: 'Montserrat',
    fontWeight: '300',
    lineHeight: '17.12px',
    wordWrap: 'break-word',
  },
  Community: {
    color: 'white',
    fontSize: '14px',
    fontFamily: 'Montserrat',
    fontWeight: '300',
    lineHeight: '17.12px',
    wordWrap: 'break-word',
  },
  ContactUs: {
    color: 'white',
    fontSize: '14px',
    fontFamily: 'Montserrat',
    fontWeight: '700',
    lineHeight: '17.12px',
    wordWrap: 'break-word',
  },
  ConnectWithNeuString: {
    color: '#0E2C46',
    fontSize: '38px',
    fontFamily: 'Montserrat',
    fontWeight: '700',
    lineHeight: '43px',
    wordWrap: 'break-word',
  },
  FollowUs: {
    color: '#0F314F',
    fontSize: '16px',
    fontFamily: 'Open Sans',
    fontWeight: '400',
    lineHeight: '21px',
    wordWrap: 'break-word',
  },
  FollowNeuString: {
    color: '#0E2C46',
    fontSize: '20px',
    fontFamily: 'Circular Std',
    fontWeight: '450',
    lineHeight: '18px',
    wordWrap: 'break-word',
  },
  DownloadOurApp: {
    color: '#0E2C46',
    fontSize: '38px',
    fontFamily: 'Montserrat',
    fontWeight: '700',
    lineHeight: '43px',
    wordWrap: 'break-word',
  },
  StayConnected: {
    color: '#0F314F',
    fontSize: '16px',
    fontFamily: 'Open Sans',
    fontWeight: '400',
    lineHeight: '30px',
    wordWrap: 'break-word',
  },
  Linkedin: {
    color: '#2870AE',
    fontSize: '10px',
    fontFamily: 'Montserrat',
    fontWeight: '700',
    lineHeight: '12.23px',
    wordWrap: 'break-word',
  }
};
