@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Swiper Navigation Colors */
.swiper-button-next,
.swiper-button-prev {
  color: #ff5722; /* Change default color to orange */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ff9800; /* Change hover color */
}

/* Customize size (optional) */
.swiper-button-next,
.swiper-button-prev {
  font-size: 1.5rem; /* Adjust icon size */
}

/* Customize disabled state (optional) */
.swiper-button-disabled {
  opacity: 0.5; /* Dim color for disabled buttons */
  pointer-events: none;
}


/* body {
  overflow: hidden; 
} */

html, body {
  height: 100%;
  margin: 0; 
  overflow: hidden; 
  scroll-behavior: smooth;
}

#root {
  height: 100%;
  overflow: auto;
}


/*
.motion-container {
  height: 100vh;
  overflow: hidden;
} */


.content-container {
  height: calc(100vh); /* Full page height */
  overflow-y: scroll; /* Ensure vertical scrolling */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on mobile devices */

  /* Hide scrollbar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.content-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.gradient-border {
  border: 1px solid; 
  border-image-source: linear-gradient(78.86deg, #82BC34 6.42%, #CEDD45 96.24%);
  border-image-slice: 1;
  border-radius: 25px; 
}


/* .tag {
  border-radius: 0 0 10px 0;
}

.tag::after {
  width: 1px;
  height: 1px;
  content: "";
  position: absolute;
  background-color: transparent;
  top: 0px;
  right: -4px;
  border-top-left-radius: 6px;
  box-shadow: -2px -2px white; 
}

.tag::before {
  width: 4px;
  height: 4px;
  content: '';
  background-color: transparent;
  position: absolute;
  top: 4px;
  right: -8px;
  border-top-left-radius: 6px;
  box-shadow: -2px -2px #82BC34;
}

.curv_1, .curv_2 {
  width: 6px;
  height: 6px;
  content: '';
  position: absolute;
}

.curv_1{
  background-color: transparent;
  bottom: -6px;
  left: 0px;
  border-top-left-radius: 6px;
  box-shadow: -2px -2px white;
}

.curv_2{
  background-color: transparent;
  bottom: -10px;
  left: 4px;
  border-top-left-radius: 6px;
  box-shadow: -2px -2px #82BC34;
} */
